* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background: #000;
}
.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.container span {
    text-transform: uppercase;
    position: relative;
    display: block;
}
.text1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
}
.text2 {
    font-size: 30px;
    color: #6ab04c;
    z-index: -1;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -60px;
    }
    50% {
        letter-spacing: 70px;
        margin-bottom: -50px;
    }
    70% {
        letter-spacing: 20px;
        margin-bottom: -50px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -50px;
    }
}

.down {
    word-spacing: 10px;
    font-family: sans-serif;
    font-display: left side;
    color: grey;
    position: relative;
    animation-name: down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2.9s;
    position: absolute;
    margin-top: 500px;
    margin-left: 20px;
    transform: rotate(90deg);
}
@keyframes down {
    0%   {background: left0px; top:0px;}
  100% {background:  left0px; top: 15px;}
}



.animated {
    font-size:100px;
    color: #262626;
    margin-top: 300px;
    position: relative;
    margin: 0;
}
.animated::before {
    content: "Hi,";
    color: #f72c4c;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}
.animated:hover::before {
    width: 100%;
}




.anime{
    font-size:100px;
    color: #262626;
    margin-top: 300px;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.anime::before {
    content: "I'mHimanshu,";
    color: #f72c4c;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}
.anime:hover::before {
    width: 100%;
}


.animation {
    font-size:100px;
    color: #262626;
    margin-top: 300px;
    position: relative;
    margin: 0;
}
.animation::before {
    content: "aProgrammer.";
    color: #f72c4c;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}
.animation:hover::before {
    width: 100%;
}
.margin {
    margin-top: 200px
}
.btn {
    background: none;
    margin: 20px auto;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    transition: 1.5s;
    margin-top: 150px;
}

.btn1 {
    border: 2px solid #2ecc71;
    left: 0%;
}
.btn2 {
    border: 2px solid #3498db;
    right: 0%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
.btn1:hover {
    box-shadow: 0  0 5px #2ecc71,0  0 5px #2ecc71,0  0 5px #2ecc71,0  0 5px #2ecc71;
}
.btn2:hover {
    box-shadow: 0  0 5px #3498db,0  0 5px #3498db,0  0 5px #3498db,0  0 5px #3498db;
}
.profile {
    margin-top: 250px;
    color: white;
    font-size: 4rem;
    text-align: center;
}
.color {
    color: #12CBC4;
}
.mycontact {
    margin-top: 350px;
    left: 50%;
    right: 50%;
    color: #222f3e;
    display: block;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}
.contact {
    color: #000;
    background: none;
    border: 2px solid #34ace0;
    margin: 30px;
    font-size: 20px;
}
.email {
    color: #000;
    background: none;
    font-size: 20px;
}
.con {
    background: none;
    border:none;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.con:hover {
    color: white;
}
.con::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    transition: transform 0.5s;
    transform-origin: 0 0;
    z-index: -1;
}   
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; 
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #262626;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon:hover span {
    color: #fff;
}
.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}
.wrapper .icon:hover span {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .twitter:hover span {
    background: #46c1f6;
}
.wrapper .github:hover span {
    background: #555;
}
.wrapper .discord:hover span {
    background: #fff;
}
.wrapper .instagram:hover span {
    background: #E4405F;
}
.fa-twitter::before {
    color: #000;
}
.fa-discord::before {
    color: #000;
}
.fa-github::before {
    color: #000;
}
.fa-instagram::before {
    color: #000;
}




/* This is for mobile*/


    @media (max-width: 480px) and (min-width: 320px) {
        .text1 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .text2 {
            font-size: 12.5px;
            color: #2d98da;
        }

        @keyframes text {
            0% {
                color: black;
                margin-bottom: -25px;
            }
            50% {
                letter-spacing: 13px;
                margin-bottom: -20px;
            }
            70% {
                letter-spacing: 8px;
                margin-bottom: -20px;
            }
            85% {
                letter-spacing: 5px;
                margin-bottom: -20px;
            }
        }

        .down {
            margin-top: 400px;
        }

    .animated {
        font-size: 53px;
        margin-top: 120px;
    }
    .anime {
        font-size: 53px;
    }
    .animation {
        font-size: 53px;
    }

    .wrapper .icon  span i{
        font-size: 20px;
        line-height: 43px;
     }
     .wrapper .icon {
        margin: 0 15px;
     }
     .wrapper .icon  span {
        width: 43px;
        height: 43px;
        text-align: center;
        border-radius: 50%;
     }

    .btn {
        width: 150px;
    }
    .btn1 {
        left: 1%;
    }
    .btn2 {
        right: 1%;
    }

    .profile {
        font-size: 28px;
    }
    .color {
        color: #f72c4c;
    }

    .con {
        min-width: 100px;
        font-size: 20px;
    }
    
}

@media (max-width: 320px) {

    .animated {
       font-size: 45px;
    }
    .anime {
        font-size: 45px;
    }
    .animation {
        font-size: 45px;
    }

    .wrapper .icon  span i{
       font-size: 20px;
       line-height: 40px;
    }
    .wrapper .icon {
       margin: 0 15px;
    }
    .wrapper .icon  span {
       width: 40px;
       height: 40px;
       text-align: center;
       border-radius: 50%;
    }


    .profile {
        font-size: 25px;
    }

    .con {
        font-size: 20px;
    }

    .down {
        margin-left: 5px;
    }

    .text1 {
        font-size: 20px;
    }
    .text2 {
        font-size: 15px;
    }
    .color {
        color: #ff0;
    }
    .anime::before {
        color: #f9d342;
    }
    .animation::before {
        color: #f9d342;
    }
    .animated::before {
        color: #f9d342;
    }

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -25px;
        }
        50% {
            letter-spacing: 10px;
            margin-bottom: -20px;
        }
        70% {
            letter-spacing: 8px;
            margin-bottom: -20px;
        }
        85% {
            letter-spacing: 5px;
            margin-bottom: -20px;
        }
    }

    .btn {
        margin: 20px auto;
        padding: 14px 40px;
        width: 120px;
        border-radius: 24px;
        transition: 0.25px;
        cursor: pointer;
        transition: 1.5s;
        margin-top: 150px;
    }
}




/* this is for tablet*/
@media (max-width: 768px) and (min-width: 481px){
    .text1 {
        font-size: 24px;
    }

    .text2 {
        font-size: 15px;
        color: #FF7777;
    }

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -25px;
        }
        50% {
            letter-spacing: 23px;
            margin-bottom: -20px;
        }
        70% {
            letter-spacing: 10px;
            margin-bottom: -20px;
        }
        85% {
            letter-spacing: 5px;
            margin-bottom: -20px;
        }
    }

    .down {
        margin-top: 400px;
        margin-left: 20px;
    }

    .animated {
        font-size: 70px;
     }
     .anime {
         font-size: 70px;
     }
     .animation {
         font-size: 70px;
     }
    .animated::before {
        font-size: 70px;
        color: #FF7600;
     }
     .anime::before {
         font-size: 70px;
         color: #FF7600;
     }
     .animation::before {
         font-size: 70px;
         color: #FF7600;
     }

     .btn {
         width: 150px;
     }
     .btn1 {
        left: 0;
     }
     .btn2 {
         right: 0;
     }

    .profile {
     font-size: 50px;
    }
    .color {
        color: #0C4271;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .text1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .text2 {
        font-size: 15px;
        color: #172774;
    }
    @keyframes text {
        0% {
            color: black;
            margin-bottom: -25px;
        }
        50% {
            letter-spacing: 35px;
            margin-bottom: -20px;
        }
        70% {
            letter-spacing: 15px;
            margin-bottom: -20px;
        }
        85% {
            letter-spacing: 8px;
            margin-bottom: -20px;
        }
    }
    .down {
        margin-top: 400px;
    }

    .btn1 {
        left: 0;
    }
    .btn2 {
        right: 0;
    }

    .animated {
        font-size: 113px;
     }
     .anime {
         font-size: 113px;
     }
     .animation {
         font-size: 113px;
     }
    .animated::before {
        font-size: 113px;
        color: #6B7AA1;
     }
     .anime::before {
         font-size: 113px;
         color: #6B7AA1;
     }
     .animation::before {
         font-size: 113px;
         color: #6B7AA1;
     }

     .color {
        color: #FF449F;
    }
}

@media (max-width: 1075px) and (min-width: 1025px) {
    .text1 {
        font-size: 50px;
    }
    .text2 {
        font-size: 25px;
    }
    @keyframes text {
        0% {
            color: black;
            margin-bottom: -60px;
        }
        50% {
            letter-spacing: 40px;
            margin-bottom: -50px;
        }
        70% {
            letter-spacing: 25px;
            margin-bottom: -50px;
        }
        85% {
            letter-spacing: 10px;
            margin-bottom: -50px;
        }
    }

    .down {
        margin-top: 400px;
    }
}